AmberLite==16.0
AmberTools==17.0
annotated-types==0.7.0
attrs==25.1.0
bel-resources==0.0.3
bioregistry==0.12.2
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
click-plugins==1.1.1
curies==0.10.6
dnspython==2.7.0
email_validator==2.2.0
gemmi==0.7.0
greenlet==3.1.1
humanize==4.12.1
idna==3.10
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
meeko==0.6.1
MMPBSA.py==16.0
more-click==0.1.2
more-itertools==10.6.0
mpi4py==3.0.3
multisplitby==0.0.1
networkx==3.4.2
numpy==2.2.3
openbabel-wheel==3.1.1.21
packaging==24.2
packmol-memgen==1.1.0rc0
pandas==2.2.3
ParmEd===at20RC5-54.g5702a232fe.dirty
pdb4amber==1.7.dev0
pillow==11.1.0
psycopg2-binary==2.9.10
pybel==0.15.5
pydantic==2.10.6
pydantic_core==2.27.2
pyMSMT==20.0
pyparsing==3.2.1
pystow==0.7.0
python-dateutil==2.9.0.post0
pytraj==2.0.5
PyTrie==0.4.0
pytz==2025.1
ratelimit==2.2.1
rdkit==2024.9.5
referencing==0.36.2
requests==2.32.3
requests-file==2.1.0
rpds-py==0.23.1
sander==16.0
scipy==1.15.2
six==1.17.0
sortedcontainers==2.4.0
SQLAlchemy==2.0.38
tabulate==0.9.0
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
vina==1.2.7
